form {
    height: 50vh;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    
}



input {
    padding: 10px 20px;
    width: 100%;
    line-height: 16px;
    font-size: 14px;

    margin: 10px 0;
    background: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    

}

#submit {
    
    
    margin: 10px 0;
    padding: 20px 20px;
    width: 300px;
    height: 50px;
    line-height: 16px;
    margin: 25px 0;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    /* align to the center of the form */
    margin: 0 auto;
    margin-top: 5%;
    display: block;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    /* put the button at the bottom of the form */
    


}

#title { 
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.dates {
    height: 30vh;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5); 
    border: #000000 1px solid;;  


}



.dates img {
    width: 60%;
    height: 90%;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    /* put image on the left */
    
    
}

.infotitle {
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
